body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bgcolor: rgb(39, 39, 39);
  background-color: var(--bgcolor);
}

.navbar {
  background-color: var(--bgcolor); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-title {
  color: red;
  font-size: 10rem;
}

.about-title {
  color: green;
  font-size: 10rem;
}

.contact-title {
  color: blue;
  font-size: 10rem;
}

.center {
  display: grid;
  place-items: center;
  height: 90vh;
}